* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*color-template  */
:root {
  --bgcolor: #222;
  --white: #fff;
  --gray: #ddd;
  --red: #f00;
  --timer: #aff;
  --blue: #0ff;
  --green: #5f5;
}
.neonText {
  text-shadow: 0 0 0.15em, 0 0 0.2em, 0 0 0.05em var(--white);
}
.resetted {
  opacity: 0.9;
  color: var(--gray);
}

body {
  background: var(--bgcolor);
}
.layout {
  margin: 0 auto;
}
h1 {
  font-size: 30px;
  margin: 5vh auto;
  text-align: center;
  color: var(--white);
}
.wrapper {
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
}
.timer {
  height: 50vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timer > p {
  color: var(--timer);
  font-size: calc(30px + 10vw);
}
.timer span {
  margin: 0.15em;
}
.inputarea {
  max-width: 800px;
  height: 15vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputarea input[type="text"] {
  text-align: center;
  font-size: 50px;
  width: 20%;
  height: 80%;
  margin: 0.5%;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 3px var(--white);
  color: var(--black);
  appearance: none;
}
.inputarea input[type="text"]:focus {
  background: var(--white);
  box-shadow: 0 0 10px var(--white);
  outline: none;
}
.control {
  max-width: 600px;
  margin: 10px auto;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.control .button {
  width: 20%;
  height: 80%;
  margin: 2%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bgcolor);
  border-radius: 5px;
  box-shadow: 0 0 10px var(--red), 0 0 15px var(--red);
}
.control .button:first-of-type {
  box-shadow: 0 0 10px var(--blue), 0 0 15px var(--blue);
}

.control .button:last-of-type {
  box-shadow: 0 0 10px var(--green), 0 0 15px var(--green);
}
.control .button p {
  font-size: 20px;
  color: var(--red);
}

.control .button:first-of-type p {
  color: var(--blue);
}
.control .button:last-of-type p {
  color: var(--green);
}
/* 一時停止時は文字色を赤く変化させる */
.pause {
  color: var(--red);
}
.timerend {
  background-color: #ff0;
}
@media screen and (max-width: 800px) {
  .timer {
    height: 40vh;
  }
  .inputarea {
    height: 10vh;
    justify-content: space-evenly;
    margin-bottom: 5vh;
  }
  .control {
    height: 25vh;
    flex-direction: column;
  }
  .control .button {
    width: 80%;
    height: 30%;
    margin: 3% auto;
  }
}
